     @font-face {
         font-family: 'Personalized';
         src: url('data/Vector_O.otf') format('opentype');
     }

     html {
         height: 100%;
         width: 100%;
         overflow-x: hidden;
     }

     * {
         margin: 0;
         padding: 0;
         box-sizing: border-box;
     }

     body {
         font-family: 'Avenir', sans-serif;
         background: #dcf4c8;
         padding: 40px 20px;
     }

     a {
         text-decoration: none;
         font-weight: bold;
         color: white;
         z-index: 1000;
     }

     .work {
         position: absolute;
         font-size: 10vw;
         -webkit-user-select: none;
         user-select: none;
         mix-blend-mode: difference;
         z-index: -1;
         cursor: grab;
         font-family: 'Personalized', sans-serif;
         color: white;
         opacity: 0.1;
     }

     .home {
         position: absolute;
         top: 3vh;
         left: 5vw;
         font-size: 20px;
         cursor: pointer;
         font-weight: bold;
         color: #333;
         z-index: 1000;
     }

     .about {
         position: absolute;
         top: 3vh;
         right: 5vw;
         font-size: 20px;
         cursor: pointer;
         font-weight: bold;
         color: #333;
         z-index: 1000;
     }

     #headerLine {
         position: absolute;
         top: 8vh;
         left: 5vw;
         width: 90vw;
         border: 0.1vh solid #333;
         opacity: 0.5;
     }

     .texto {
         display: block;
         position: absolute;
         width: 40vw;
         cursor: default;
         top: 15vh;
         left: 6vw;
         -webkit-user-select: none;
         user-select: none;
         font-family: 'Personalized', sans-serif;
         font-size: 45px;
         letter-spacing: 10px;
     }

     .social-media {
         position: relative;
         left: 65vw;
         top: 35vh;
         word-spacing: 5vw;
     }

     .vertical-line {
         position: absolute;
         height: 170vh;
         border: 0.1vh solid #333;
         top: 11vh;
         left: 50vw;
         opacity: 0.5;
     }

     .contact {
         display: block;
         position: absolute;
         width: 40vw;
         right: 5vw;
         bottom: 65vh;
         font-size: 20px;
     }

     hr {
         position: relative;
         width: 90vw;
         top: 42vh;
         left: 4vw;
         border: 0.1vh solid #333;
         opacity: 0.5;
     }

     .foto {
         display: block;
         position: relative;
         width: 40vw;
         height: auto;
         border-radius: 10px;
         top: 45vh;
         left: 5vw;
         box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     }

     .foto2 {
         display: block;
         position: relative;
         width: 40vw;
         height: auto;
         border-radius: 10px;
         top: 48vh;
         left: 5vw;
         box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     }

     .education {
         display: block;
         position: absolute;
         width: 40vw;
         right: 5vw;
         bottom: 20vh;
         font-size: 20px;
     }

     .separator {
         position: relative;
         width: 45vw;
         top: 10vh;
         left: 48.7vw;
         border: 0.1vh solid #333;
         opacity: 0.5;
     }

     .skills {
         display: block;
         position: absolute;
         width: 40vw;
         right: 5vw;
         top: 93vh;
         font-size: 20px;
     }

     .separator2 {
         position: relative;
         width: 45vw;
         top: 55vh;
         left: 48.7vw;
         border: 0.1vh solid #333;
         opacity: 0.5;
     }

     .hobbies {
         display: block;
         position: absolute;
         width: 40vw;
         right: 5vw;
         top: 137vh;
         font-size: 20px;
     }

     .separator3 {
         position: relative;
         width: 45vw;
         top: 104vh;
         left: 48.7vw;
         border: 0.1vh solid #333;
         opacity: 0.5;
     }

     footer {
         position: relative;
         text-align: center;
         font-size: 14px;
         color: #666;
         top: 60vh;
     }